*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-size: 14px;
}

.container{
    min-height: 100rem;
    min-width: 100rem;

}

.excel{
    height: 5vh;
    width: 100%;
    background-color:#107c41;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: large;
}

.features{
    min-height: 5vh;
    background-color:#107c41;
    display: flex;
    justify-content: space-between;
}
.starting{
    min-width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.ending{
    display: flex;
    flex-direction: row-reverse;
    min-width: 20%;
    justify-content: space-around;
}
a:link{
    text-decoration: none;
    font-size: 13px;                         
}
h3{
    color: white;
}
h3:hover{
    height: 100%;
    max-width: fit-content;
  background-color: white;
  color: #107c41;
}
.tool-box{
    width: 50%;
    min-height: 8vh;
    background-color: rgb(243, 239, 239);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    min-height: 68vh;   
    margin-top: 6vh;
}
.tool-kit{
    
    background-color:rgb(243, 239, 239);
}
.tool-div{
    display: flex;
    height: 30px;
    min-width: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#font-family{
    width:180px;
    display: flex;
}
.select{
    width :130px;
}
.sizee{
    width:6px;
}
.tool-div:hover{
    
    background-color: lightgray;
}
.font-family{
    display: flex;
}
.sheets{
    margin-bottom: 20px;
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border-top: 1px solid lightgray;
    position: fixed;
  
}
.scroller{
    width: 100px;
}
.h6{
    font-size: 18px;
    font-weight: 600;
    
}

.add-circle-icon{
    color: #107c41;
    margin-left: 1%;
    margin-right: 1%;
}    
.icon1,.icon2{
    font-size :25px;
    margin-left: 10px;
    background-color:white;
    margin-right: 10px;
}
.sheet-no{
    width: 60px;
    margin-left: 10px;
    margin: 0px;
    border-bottom:4px solid #107c41
}
.sheet-tab-container{
    width: 89%;
    border: 1px solid lightgrey;
    border-right:1px solid lightgray;
}
.sheet-no :hover {
    cursor: pointer;
    background-color: lightgray;
}
.icon-right-scroll:hover{
    cursor: pointer;
    background-color: lightgray;
}
.icon-left-scroll:hover{
    cursor: pointer;
    background-color: lightgray;
}
.add-circle-icon{
    cursor: pointer;
}

.upper{
    height: 4vh;
    display: flex;
}
.top-left{
    height: 100%;
    width: 2.5%;
    border: 2px solid lightgray;
    border-top: 3px solid lightgray;
    border-right:none;
    box-sizing: border-box;

}
.top-right{
    width:97.5%;
    border: 1px solid lightgray;
    border-top: 3px solid lightgray;
    display: flex;
    
}
.bottom{
    height: 64vh;
    display: flex;
    box-sizing: border-box;
    
}
.bottom-left{
    height: 100%;
    width: 2.5%;
    border:1px solid lightgray;
    border-top: 1px solid lightgray;
    border-right: none;
    box-sizing: border-box;

}
.bottom-right{
    width: 97.5%;
    border-left: 1px solid lightgray;
    box-sizing:content-box;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
}
.coloumn{
    border-right: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    min-width: 8vw;
}
.row{
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.srdc{
    display: flex;
    
}
.cell{
    height: 4vh;
    width: 8vw;
    border-bottom:1px solid lightgray;
    border-right:1px solid lightgray;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 15px;    

}